.create {
    position: relative;
    // overflow: hidden;
    .container {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 100px 0;
        .create__text {
            width: 35%;
            P:first-of-type {
                @include styleText($color-black, $fs-2, $fw-1);
            }
            h2:nth-of-type(1) {
                @include styleText($color-black, $fs-3 + 5, $fw-3);
            }
            p:nth-of-type(2) {
                @include styleText($color-black, $fs-1, $fw-2);
                padding: $pd-2 0;
            }
            .create__btn {
                @include styleBTN($color-black, $pd-1 - 5, $pd-1 + 5, $rds, $bd, $ls-1);
                @include styleText($color-white, $fs-1, $fw-1);
            }
        }
        .create__imgshoe {
            width: 65%;
            z-index: 2;
            img {
               width: 100%;
            }
        }
    }
    .create__line {
        height: 247px;
        width: 1000px;
        background: rgb(255, 187, 0);
        transform: rotate(-45deg);
        position: absolute;
        top: -115px;
        right: -570px;
        z-index: 1;
    }
}
