
.modal-backdrop{
    z-index: 1;
    
    
}
#signIn {
 margin-top: 90px;

}
.modal-title{
    @include styleText($color-black, $fs-6, $fw-3);
}
.form-group{
    font-size: $fs-2;
    font-weight: $fw-2;
}
.btn{
    @include styleBTN($color-black, $pd-1 - 5, $pd-1 + 5, $rds, $bd, $ls-1);
    @include styleText($color-white, $fs-1, $fw-1);
    width: 100%;
   

}
.modal-footer {
    p{
        @include styleText($color-black, $fs-1, $fw-1);
        margin: 0 auto;
        
    }
}


// signup 
#signUp {
    margin-top: 90px;
    .modal-body,.modal-footer,.modal-header{
        padding: 10px 18px;
    }
   
}



