.trending {
    .container {
        .trending__h2 {
            @include styleText($color-black, $fs-3, $fw-4);
            padding: 40px 0;
        }
        .row {
            margin: 0;
            .col-6 {
                padding: 0;
            }
        }
    }
}
.trending__right {
    display: grid;
    gap: 40px;
    padding-left: 20px;
    height: 100%;
    .trending__shortimg {
        position: relative;
        img {
            height: 100%;
            width: 100%;
        }

        .overlay {
            background-color: rgba(16, 13, 13, 0.095);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.trending__left {
    height: 100%;
    padding-right: 20px;
    .trending__longimg {
        height: 100%;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        .trending__text {
            position: absolute;
            bottom: 85px;
            left: 70px;
            P:first-of-type {
                @include styleText($color-white, $fs-2, $fw-1);
            }
            h2:nth-of-type(1) {
                @include styleText($color-white, $fs-3, $fw-3);
            }
            p:nth-of-type(2) {
                @include styleText($color-white, $fs-1, $fw-2);
                padding: $pd-2 0;
            }
            
        }
        .overlay {
            background-color: rgba(16, 13, 13, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
