.carousel__cart{
    @include styleText($color-black, $fs-3, $fw-3);
}
.heading__table{
    font-size: 20px;
    font-weight: 700;
}
.tableCart{
    font-size: 18px;
    font-weight: 600;
}
.cart__btn{
    margin: 25px 0  80px 0;
    &:hover{
        background: rgb(155, 141, 141);
    }
}


// footer 


// .footer__cart{
//     padding: 50px 0 50px;
// }

.container__footer{
    color: $color-white;
    ul{
        list-style: none;
    }
    a{
        color: $color-white;
    }
  
}
@media (min-width:400px) {
    .container__footer{
        padding: 0 100px;
    }
}
@media (max-width:396px) {
    .container__footer{
        padding: 0 20px;
    }
}